<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
   <section name="SqlStatementGenerator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
  </sectionGroup>
 </configSections>
 <appSettings>
		<add key="SqlConnectionString1" value="Data Source=SERVER01\INSTANCE1;Integrated Security=True;User ID=;Password=;Initial Catalog=Northwind"/>
		<add key="SqlConnectionString" value="Data Source=SERVER01\INSTANCE1;User ID=<user>;Password=<pwd>;Initial Catalog=SampleDB"/>
	</appSettings>
 <userSettings>
  <SqlStatementGenerator.Properties.Settings>
   <setting name="cmbLastDatabaseName" serializeAs="String">
    <value />
   </setting>
   <setting name="cmbLastTableUsed" serializeAs="String">
    <value />
   </setting>
  </SqlStatementGenerator.Properties.Settings>
 </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
